<div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light">Admin Panel</div>
    <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/admin/dashboard">
        <i class="fas fa-tachometer-alt me-2"></i> Dashboard
      </a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/events">
        <i class="fas fa-calendar-alt me-2"></i> Events
      </a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/bookings/admin/all">
        <i class="fas fa-ticket-alt me-2"></i> Bookings
      </a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/products">
        <i class="fas fa-box me-2"></i> Products
      </a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/users">
        <i class="fas fa-users me-2"></i> Users
      </a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/reports/ticket-sales">
        <i class="fas fa-chart-line me-2"></i> Reports
      </a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/admin/settings">
        <i class="fas fa-cog me-2"></i> Settings
      </a>
    </div>
  </div>