<footer class="bg-dark text-white py-4 mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>Event Management System</h5>
          <p>Your complete solution for managing events, ticket sales, and inventory.</p>
        </div>
        <div class="col-md-4">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="/" class="text-white">Home</a></li>
            <li><a href="/events" class="text-white">Events</a></li>
            <li><a href="/about" class="text-white">About Us</a></li>
            <li><a href="/contact" class="text-white">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Subscribe to Newsletter</h5>
          <form action="/newsletter/subscribe" method="POST">
            <div class="input-group mb-3">
              <input type="email" class="form-control" name="email" placeholder="Your Email" required>
              <button class="btn btn-primary" type="submit">Subscribe</button>
            </div>
          </form>
          <div class="social-links mt-3">
            <a href="#" class="text-white me-2"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="text-white me-2"><i class="fab fa-twitter"></i></a>
            <a href="#" class="text-white me-2"><i class="fab fa-instagram"></i></a>
            <a href="#" class="text-white"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
      <hr>
      <div class="text-center">
        <p class="mb-0">&copy; <%= new Date().getFullYear() %> Event Management System. All rights reserved.</p>
      </div>
    </div>
  </footer>