<!-- Sidenav Menu Start -->
<div class="sidenav-menu">

    <!-- Brand Logo -->
     

    <% if (frontData.Logo && frontData.fav) { %>
    
    <a href="/user/dashboard" class="logo">
        <span class="logo-light">
            <span class="logo-lg"><img src="<%= frontData.Logo || 'Home' %>" alt="logo"></span>
            <span class="logo-sm"><img src="<%= frontData.fav || 'Home' %>" alt="small logo"></span>
        </span>

        <span class="logo-dark">
            <span class="logo-lg"><img src="<%= frontData.Logo || 'Home' %>" alt="logo"></span>
            <span class="logo-sm"><img src="<%= frontData.fav || 'Home' %>" alt="small logo"></span>
        </span>
    </a>
    <% } %>

    <!-- Sidebar Hover Menu Toggle Button -->
    <button class="button-sm-hover">
        <i class="ti ti-circle align-middle"></i>
    </button>

    <!-- Full Sidebar Menu Close Button -->
    <button class="button-close-fullsidebar">
        <i class="iconoir-xmark align-middle"></i>
    </button>

    <div data-simplebar>

        <!--- Sidenav Menu -->
        <ul class="side-nav">
            <li class="side-nav-title">Navigation</li>

            <li class="side-nav-item">
                <a href="/user/dashboard" class="side-nav-link">
                    <span class="menu-icon"><i class="iconoir-home-alt"></i></span>
                    <span class="menu-text"> Dashboard </span>
                    <span class="badge bg-primary rounded-pill">Hot</span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="/user/user-details" class="side-nav-link">
                    <span class="menu-icon"><i class="iconoir-calendar"></i></span>
                    <span class="menu-text"> User's </span>
                </a>
            </li>

            <li class="side-nav-title">Extra Pages</li>

            <li class="side-nav-item">
                <a href="/settings/guests" class="side-nav-link">
                    <span class="menu-icon"><i class="iconoir-calendar"></i></span>
                    <span class="menu-text"> Add Guest </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="/settings/events" class="side-nav-link">
                    <span class="menu-icon"><i class="iconoir-calendar"></i></span>
                    <span class="menu-text"> Event's </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarPagesGallery" aria-expanded="false" aria-controls="sidebarPagesGallery" class="side-nav-link">
                    <span class="menu-icon"><i class="iconoir-lock-square"></i></span>
                    <span class="menu-text"> Gallery </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarPagesGallery">
                    <ul class="sub-menu">
                        <li class="side-nav-item">
                            <a href="/settings/gallery" class="side-nav-link">
                                <span class="menu-text">Gallery Images</span>
                            </a>
                        </li>
                        <li class="side-nav-item">
                            <a href="#." class="side-nav-link">
                                <span class="menu-text">Sponsor</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </li>

            <li class="side-nav-title">More</li>

            

            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarMultiLevel" aria-expanded="false" aria-controls="sidebarMultiLevel" class="side-nav-link">
                    <span class="menu-icon"><i class="iconoir-settings"></i></span>
                    <span class="menu-text"> Settings </span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="sidebarMultiLevel">
                    <ul class="sub-menu">
                        <li class="side-nav-item">
                            <a data-bs-toggle="collapse" href="#sidebarSecondLevel" aria-expanded="false" aria-controls="sidebarSecondLevel" class="side-nav-link">
                                <span class="menu-text"> Frontpage Settings </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <div class="collapse" id="sidebarSecondLevel">
                                <ul class="sub-menu">
                                    <li class="side-nav-item">
                                        <a href="/settings/frontpage-setting" class="side-nav-link">
                                            <span class="menu-text">Frontpage Editor</span>
                                        </a>
                                    </li>
                                    <li class="side-nav-item">
                                        <a href="/settings/menu-setting" class="side-nav-link">
                                            <span class="menu-text">Menu Settings</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="side-nav-item">
                            <a data-bs-toggle="collapse" href="#sidebarThirdLevel" aria-expanded="false" aria-controls="sidebarThirdLevel" class="side-nav-link">
                                <span class="menu-text"> Third Level </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <div class="collapse" id="sidebarThirdLevel">
                                <ul class="sub-menu">
                                    <li class="side-nav-item">
                                        <a href="javascript: void(0);" class="side-nav-link">Item 1</a>
                                    </li>
                                    <li class="side-nav-item">
                                        <a data-bs-toggle="collapse" href="#sidebarFourthLevel" aria-expanded="false" aria-controls="sidebarFourthLevel" class="side-nav-link">
                                            <span class="menu-text"> Item 2 </span>
                                            <span class="menu-arrow"></span>
                                        </a>
                                        <div class="collapse" id="sidebarFourthLevel">
                                            <ul class="sub-menu">
                                                <li class="side-nav-item">
                                                    <a href="javascript: void(0);" class="side-nav-link">
                                                        <span class="menu-text">Item 2.1</span>
                                                    </a>
                                                </li>
                                                <li class="side-nav-item">
                                                    <a href="javascript: void(0);" class="side-nav-link">
                                                        <span class="menu-text">Item 2.2</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>

        <div class="clearfix"></div>
    </div>
</div>
<!-- Sidenav Menu End -->